{:protocol         "HTTP/1.1"
 :async-supported? true
 :remote-addr      "127.0.0.1"
 :params           {:name "Ashtray"}
 :servlet-response #object[org.eclipse.jetty.server.Response 0x4ec4c143 "HTTP/1.1 200 \nDate: Fri, 06 Aug 2021 22:48:30 GMT\r\nStrict-Transport-Security: max-age=31536000; includeSubdomains\r\nX-Frame-Options: DENY\r\nX-Content-Type-Options: nosniff\r\nX-XSS-Protection: 1; mode=block\r\nX-Download-Options: noopen\r\nX-Permitted-Cross-Domain-Policies: none\r\nContent-Security-Policy: object-src 'none'; script-src 'unsafe-inline' 'unsafe-eval' 'strict-dynamic' https: http:;\r\nContent-Type: application/edn\r\n\r\n"]
 :servlet          #object[io.pedestal.http.servlet.FnServlet 0x78828aca "io.pedestal.http.servlet.FnServlet@78828aca"]
 :headers          {"sec-fetch-site"            "none"
                    "host"                      "localhost:8890"
                    "user-agent"                "Mozilla/5.0 (X11; Fedora; Linux x86_64; rv:90.0) Gecko/20100101 Firefox/90.0"
                    "sec-fetch-user"            "?1"
                    "connection"                "keep-alive"
                    "upgrade-insecure-requests" "1"
                    "accept"                    "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8"
                    "accept-language"           "en-US,pt-BR;q=0.8,es-PE;q=0.5,en;q=0.3"
                    "sec-fetch-dest"            "document"
                    "accept-encoding"           "gzip, deflate"
                    "sec-fetch-mode"            "navigate"
                    "dnt"                       "1"
                    "sec-gpc"                   "1"}
 :server-port      8890
 :servlet-request  #object[org.eclipse.jetty.server.Request 0x69996364 "Request(GET //localhost:8890/greet?name=Ashtray)@69996364"]
 :query-params     {:name "Ashtray"}
 :path-info        "/greet"
 :url-for          #object[clojure.lang.Delay 0x5dbdabdd {:status :pending
                                                          :val    nil}]
 :uri              "/greet"
 :server-name      "localhost"
 :query-string     "name=Ashtray"
 :path-params      []
 :body             #object[org.eclipse.jetty.server.HttpInputOverHTTP 0x381b929a "HttpInputOverHTTP@381b929a[c=0,q=0,[0]=null,s=STREAM]"]
 :scheme           :http
 :request-method   :get
 :context-path     ""}
